.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: Poppins;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins500;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins600;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins700;
  src: url("../../fonts/Poppins-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

input {
  outline: none;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

#backtop {
  position: fixed;
  right: 2%;
  bottom: 2%;
  background: #FFF;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .header-logo {
  height: 28px;
}
header nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
header nav div a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #394149;
}
header nav div a:hover {
  color: black;
  transition: 0.3s;
}
header nav div a:last-child {
  color: #F58A07;
  padding: 18px 32px;
  background-color: #fef3e6;
  border-radius: 31px;
  margin-left: 8px;
}
header nav .menu-btn {
  display: none;
  cursor: pointer;
}

@media (max-width: 920px) {
  body header {
    padding: 30px 0;
  }
  body header nav {
    position: relative;
  }
  body header nav div {
    flex-direction: column;
    transform: translateX(-200%);
    transition: 0.3s;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 5;
  }
  body header nav .menu-btn {
    display: block;
    padding-top: 6px;
  }
  .menu-opened header nav div {
    transform: translateX(0);
    background: #fff;
  }
}
footer {
  padding: 80px 0;
  background: #063255;
  position: relative;
}
footer .footer-shape1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
footer .footer-shape2 {
  position: absolute;
  top: 38px;
  right: 0;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .icon h3 {
  margin: 32px 0;
  color: #fff;
  font-family: Poppins600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
}
footer .footer-top .icon div {
  display: flex;
  gap: 16px;
}
footer .footer-top .nav {
  display: flex;
  gap: 106px;
}
footer .footer-top .nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-top .nav ul p {
  margin-bottom: 8px;
  font-family: Poppins600;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
footer .footer-top .nav ul a {
  font-family: Poppins500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
footer .footer-top .email {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-top .email label {
  font-family: Poppins600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 8px;
}
footer .footer-top .email input {
  width: 342px;
  padding: 18px 32px;
  border-radius: 31px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
footer .footer-top .email input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
footer .footer-top .email input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
footer .footer-top .email button {
  font-family: Poppins600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 18px 32px;
  background: #F58A07;
  width: 156px;
  border-radius: 31px;
  cursor: pointer;
}
footer .footer-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
footer .footer-bottom a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
footer .footer-bottom div {
  display: flex;
  gap: 32px;
}

@media (max-width: 1430px) {
  footer .footer-top {
    justify-content: center;
    gap: 80px;
  }
  footer .footer-bottom {
    justify-content: center;
    gap: 700px;
  }
}
@media (max-width: 1287px) {
  footer .footer-top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 125px;
  }
  footer .footer-bottom {
    justify-content: center;
    gap: 320px;
  }
}
@media (max-width: 920px) {
  footer .footer-top {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
  }
  footer .footer-bottom {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 474px) {
  footer .footer-top {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
  }
  footer .footer-bottom {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  footer .footer-shape1 {
    width: 20px;
  }
  footer .footer-shape2 {
    width: 20px;
  }
}
@media (max-width: 380px) {
  footer .footer-top h3 {
    font-size: 30px !important;
  }
  footer .footer-top div {
    gap: 40px !important;
  }
  footer .footer-top input {
    width: 300px !important;
  }
  footer .footer-bottom {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  footer .footer-shape1 {
    width: 20px;
  }
  footer .footer-shape2 {
    width: 20px;
  }
}
.home-page main {
  margin-top: 92px;
}
.home-page main h1 {
  color: #1D3444;
}

.aboutUs main .hero_sections {
  margin-top: 92px;
  margin-bottom: 80px;
}
.aboutUs main .hero_sections .hero_section {
  display: flex;
  gap: 46px;
}
.aboutUs main .hero_sections .hero_section .hero_section_info {
  margin-top: 60px;
}
.aboutUs main .hero_sections .hero_section .hero_section_info h1 {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #1d3444;
}
.aboutUs main .hero_sections .hero_section .hero_section_info p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 24px 0;
  width: 510px;
}
.aboutUs main .hero_sections .hero_section .hero_section_info button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 27px;
  background: #f58a07;
  padding: 18px 32px;
  color: #fff;
}
.aboutUs main .hero_sections .hero_section .hero_section_img {
  position: relative;
}
.aboutUs main .hero_sections .hero_section .hero_section_img .img_hero {
  position: absolute;
  top: 0;
}
.aboutUs main .energy_sections .energy_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 240px;
}
.aboutUs main .energy_sections h1 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
}
.aboutUs main .energy_sections p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d3444;
}
.aboutUs main .result_sections {
  margin-top: 64px;
}
.aboutUs main .result_sections .result_seciton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 66px;
}
.aboutUs main .result_sections .result_seciton .result_card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.aboutUs main .result_sections .result_seciton .result_card h1 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
  color: #f58a07;
}
.aboutUs main .result_sections .result_seciton .result_card h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
}
.aboutUs main .result_sections .result_seciton .result_card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
}
.aboutUs main .global_sections {
  margin-top: 128px;
  margin-bottom: 96px;
}
.aboutUs main .global_sections .global_section {
  display: flex;
  gap: 78px;
  align-items: center;
}
.aboutUs main .global_sections .global_section .global_left h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
  margin-bottom: 32px;
}
.aboutUs main .global_sections .global_section .global_left p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
}
.aboutUs main .global_sections .global_section .global_right {
  position: relative;
}
.aboutUs main .global_sections .global_section .global_right .global_org {
  position: absolute;
  bottom: -32px;
  right: -32px;
}
.aboutUs main .teamwork_section .teamwork_title h1 {
  width: 577px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 27px;
}
.aboutUs main .teamwork_section .teamwork_title p {
  width: 721px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
}
.aboutUs main .teamwork_section .teamwork_mans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.aboutUs main .feenwest_sections {
  margin-top: 128px;
  padding-bottom: 128px;
}
.aboutUs main .feenwest_sections .feenwest_section {
  display: flex;
  align-items: center;
  gap: 110px;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_left h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 24px;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_left p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
  margin-bottom: 40px;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_left .feen_name {
  display: flex;
  gap: 24px;
  align-items: center;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_left .feen_name h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #063255;
  margin-bottom: 1px;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_left .feen_name h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #f58a07;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_right {
  position: relative;
}
.aboutUs main .feenwest_sections .feenwest_section .feenwest_right .play_v {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.aboutUs main .latest_sections {
  background-color: #dceaf5;
}
.aboutUs main .latest_sections .latest_title {
  padding-top: 96px;
  margin-bottom: 64px;
}
.aboutUs main .latest_sections .latest_title h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
}
.aboutUs main .latest_sections .latest_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 64px;
}
.aboutUs main .latest_sections .latest_section .latest_section_card {
  border-radius: 20px;
  background-color: #fff;
}
.aboutUs main .latest_sections .latest_section .latest_section_card .card_info {
  padding: 32px 32px 0 32px;
}
.aboutUs main .latest_sections .latest_section .latest_section_card .card_info h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
  margin-bottom: 16px;
}
.aboutUs main .latest_sections .latest_section .latest_section_card .card_info p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
  margin-bottom: 24px;
}
.aboutUs main .latest_sections .latest_section .latest_section_card .card_info .link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.aboutUs main .latest_sections .latest_section .latest_section_card .card_info .link p {
  margin-top: 20px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #f58a07;
}

.blog main {
  margin-top: 92px;
}
.blog main h1 {
  color: #1D3444;
}

.blogInner main {
  margin-top: 92px;
}
.blogInner main h1 {
  color: #1D3444;
}

.careers main {
  margin-top: 92px;
}
.careers main h1 {
  color: #1D3444;
}

.contactUs main {
  margin-top: 92px;
}
.contactUs main h1 {
  color: #1D3444;
}

.privacyPolicy main {
  margin-top: 92px;
}
.privacyPolicy main h1 {
  color: #1D3444;
}

.services main {
  margin-top: 92px;
}
.services main h1 {
  color: #1D3444;
}

.testing main {
  margin-top: 92px;
}
.testing main h1 {
  color: #1D3444;
}/*# sourceMappingURL=style.css.map */